node_modules
frontend/node_modules

# Output
frontend/.svelte-kit
backend/build
frontend/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

backend/.gradle
/.idea/libraries/
backend/out/production/
backend/.kotlin/errors

backend/src/main/resources/bilance.xlsx